html {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	background-color: #1b4186;
}

body {
	background-color: dimgray;
	margin: 0;
}
#pong {
	position: bottom;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: end;
}

img {
	padding: 20px 24px;
	max-height: 46px;
	max-width: 116px;
}

canvas {
	display: inline;
}

.menu {
	background-color: brown;
	height: 100px;
	width: 200px;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/* 
    Component: Topbar
    --- 
    Topbar
*/

.c-topbar {
	height: 10vh;
	display: grid;
	width: 100%;
	grid-template-columns: 25% 50% 25%;
	overflow: hidden;
	background-color: #3385ff;
}

.c-topbar--score {
    height: 100%;
	grid-column: 2;
	color: #fff;
	display: grid;
	grid-template-columns: 45% 10% 45%;
}

.c-topbar--score > p {
	padding: 2.5vh 0;
	margin: 0;
    font-size: 5vh;
    line-height: 5vh;
    height: 5vh;
}

.c-topbar--score-l {
    justify-self: flex-end;
	grid-column: 1;
}

.c-topbar--score-c {
    justify-self: center;
	grid-column: 2;
    padding: 10px;
}

.c-topbar--score-r {
    justify-self: flex-start;
	grid-column: 3;
}

.c-topbar--img {
    grid-column: 3;
    display: flex;
    justify-content: end;
}

.c-space {
	padding: 0 93.72px 0 93.72px;
}
