body{
    background-color: dimgray;
}
#pong{
    border: 2px solid #FFF;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.menu{
    background-color: brown;
    height: 100px;
    width: 200px;
}