/*------------------------------------*\
#Variables
\*------------------------------------*/

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: #1b4186;
}

body {
    margin: 0;
}

img {
    padding: 20px 24px;
    max-height: 46px;
    max-width: 116px;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/* 
    Component: Topbar
    --- 
    Topbar
*/

.c-topbar {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #3385ff;
}

.c-topbar--score {
    color: #fff;
    text-align: center;
    padding: 20px 24px;
    font-size: 24px;
}

.c-space {
    padding: 0 58px 0 58px;
}